@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 97%;
    --foreground: 240 10% 10%;
    
    --card: 240 10% 100%;
    --card-foreground: 240 10% 10%;
    
    --popover: 240 10% 100%;
    --popover-foreground: 240 10% 10%;
    
    --primary: 240 50% 65%;
    --primary-foreground: 240 10% 10%;

    --secondary: 240 5% 90%;
    --secondary-foreground: 240 10% 10%;

    --muted: 240 5% 90%;
    --muted-foreground: 240 5% 45%;
    
    --accent: 240 10% 85%;
    --accent-foreground: 240 10% 10%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 50% 65%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --radius: 0.5rem;

    --sidebar-background: 240 10% 97%;
    --sidebar-foreground: 240 10% 10%;
    --sidebar-primary: 240 50% 65%;
    --sidebar-primary-foreground: 240 10% 10%;
    --sidebar-accent: 240 5% 90%;
    --sidebar-accent-foreground: 240 10% 10%;
    --sidebar-border: 240 5.9% 90%;
    --sidebar-ring: 240 50% 65%;
  }

  .dark {
    --background: 240 10% 10%;
    --foreground: 240 10% 98%;
    
    --card: 240 10% 12%;
    --card-foreground: 240 10% 98%;
    
    --popover: 240 10% 10%;
    --popover-foreground: 240 10% 98%;
    
    --primary: 240 50% 65%;
    --primary-foreground: 240 10% 10%;

    --secondary: 240 5% 20%;
    --secondary-foreground: 240 10% 98%;

    --muted: 240 5% 20%;
    --muted-foreground: 240 5% 63.9%;
    
    --accent: 240 10% 25%;
    --accent-foreground: 240 10% 98%;
    
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 240 5.9% 25%;
    --input: 240 5.9% 25%;
    --ring: 240 50% 65%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    -chart-5: 340 75% 55%;

    --sidebar-background: 0 0% 10%;
    --sidebar-foreground: 0 0% 95.9%;
    --sidebar-primary: 182 100% 74%;
    --sidebar-primary-foreground: 182 100% 10%;
    --sidebar-accent: 0 0% 20%;
    --sidebar-accent-foreground: 0 0% 95.9%;
    --sidebar-border: 0 0% 25%;
    --sidebar-ring: 182 100% 74%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .header-hidden header {
    @apply -translate-y-full;
  }
}
